<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="es.uah.aut.srg.gss.generator.ui.GSSGeneratorLaunchConfigurationDelegate"
            id="es.uah.aut.srg.gss.generator.ui.GSSGeneratorLaunchConfigurationType"
            modes="run, debug"
            name="GSS Generator">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="es.uah.aut.srg.gss.generator.ui.GSSGeneratorTabGroup"
            id="es.uah.aut.srg.gss.generator.ui.GSSGeneratorTabGroup"
            type="es.uah.aut.srg.gss.generator.ui.GSSGeneratorLaunchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="es.uah.aut.srg.gss.generator.ui.GSSGeneratorLaunchConfigurationType"
            icon="icons/full/obj16/gss.png"
            id="es.uah.aut.srg.gss.generator.ui.GSSGeneratorLaunchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>

</plugin>
