<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated common -->
      <package
            uri="http://srg.aut.uah.es/gss/common"
            class="es.uah.aut.srg.gss.common.commonPackage"
            genModel="model/common.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated iface -->
      <package
            uri="http://srg.aut.uah.es/gss/iface"
            class="es.uah.aut.srg.gss.iface.ifacePackage"
            genModel="model/iface.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated charts -->
      <package
            uri="http://srg.aut.uah.es/gss/charts"
            class="es.uah.aut.srg.gss.charts.chartsPackage"
            genModel="model/charts.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated protocol_packets -->
      <package
            uri="http://srg.aut.uah.es/gss/protocol_packets"
            class="es.uah.aut.srg.gss.protocol_packets.protocol_packetsPackage"
            genModel="model/protocol_packets.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated test_proc -->
      <package
            uri="http://srg.aut.uah.es/gss/test_proc"
            class="es.uah.aut.srg.gss.test_proc.test_procPackage"
            genModel="model/test_proc.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated environment -->
      <package
            uri="http://srg.aut.uah.es/gss/environment"
            class="es.uah.aut.srg.gss.environment.environmentPackage"
            genModel="model/environment.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated campaign -->
      <package
            uri="http://srg.aut.uah.es/gss/campaign"
            class="es.uah.aut.srg.gss.campaign.campaignPackage"
            genModel="model/campaign.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated config -->
      <package
            uri="http://srg.aut.uah.es/gss/config"
            class="es.uah.aut.srg.gss.config.configPackage"
            genModel="model/config.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated test_campaign -->
      <package
            uri="http://srg.aut.uah.es/gss/test_campaign"
            class="es.uah.aut.srg.gss.test_campaign.test_campaignPackage"
            genModel="model/test_campaign.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated import -->
      <package
            uri="http://srg.aut.uah.es/gss/import"
            class="es.uah.aut.srg.gss.import_.importPackage"
            genModel="model/import.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated export -->
      <package
            uri="http://srg.aut.uah.es/gss/export"
            class="es.uah.aut.srg.gss.export.exportPackage"
            genModel="model/export.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated format -->
      <package
            uri="http://srg.aut.uah.es/gss/format"
            class="es.uah.aut.srg.gss.format.formatPackage"
            genModel="model/format.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated filter -->
      <package
            uri="http://srg.aut.uah.es/gss/filter"
            class="es.uah.aut.srg.gss.filter.filterPackage"
            genModel="model/filter.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated scenario -->
      <package
            uri="http://srg.aut.uah.es/gss/scenario"
            class="es.uah.aut.srg.gss.scenario.scenarioPackage"
            genModel="model/scenario.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated tc -->
      <package
            uri="http://srg.aut.uah.es/gss/tc"
            class="es.uah.aut.srg.gss.tc.tcPackage"
            genModel="model/tc.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated tcheader -->
      <package
            uri="http://srg.aut.uah.es/gss/tcheader"
            class="es.uah.aut.srg.gss.tcheader.tcheaderPackage"
            genModel="model/tcheader.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated tm -->
      <package
            uri="http://srg.aut.uah.es/gss/tm"
            class="es.uah.aut.srg.gss.tm.tmPackage"
            genModel="model/tm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated tmheader -->
      <package
            uri="http://srg.aut.uah.es/gss/tmheader"
            class="es.uah.aut.srg.gss.tmheader.tmheaderPackage"
            genModel="model/tmheader.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated test_list -->
      <package
            uri="http://srg.aut.uah.es/gss/test_list"
            class="es.uah.aut.srg.gss.test_list.test_listPackage"
            genModel="model/test_list.genmodel"/>
   </extension>

</plugin>
