<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated common -->
      <package
            uri="http://srg.aut.uah.es/gss/common"
            class="es.uah.aut.srg.gss.common.commonPackage"
            genModel="model/common.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated iface -->
      <package
            uri="http://srg.aut.uah.es/gss/iface"
            class="es.uah.aut.srg.gss.iface.ifacePackage"
            genModel="model/iface.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated charts -->
      <package
            uri="http://srg.aut.uah.es/gss/charts"
            class="es.uah.aut.srg.gss.charts.chartsPackage"
            genModel="model/charts.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated protocol_packets -->
      <package
            uri="http://srg.aut.uah.es/gss/protocol_packets"
            class="es.uah.aut.srg.gss.protocol_packets.protocol_packetsPackage"
            genModel="model/protocol_packets.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated config -->
      <package
            uri="http://srg.aut.uah.es/gss/config"
            class="es.uah.aut.srg.gss.config.configPackage"
            genModel="model/config.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated test_proc -->
      <package
            uri="http://srg.aut.uah.es/gss/test_proc"
            class="es.uah.aut.srg.gss.test_proc.test_procPackage"
            genModel="model/test_proc.genmodel"/>
   </extension>

</plugin>
