<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated common -->
      <package
            uri="http://srg.aut.uah.es/gss/common"
            class="es.uah.aut.srg.gss.common.commonPackage"
            genModel="model/common.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated iface -->
      <package
            uri="http://srg.aut.uah.es/gss/iface"
            class="es.uah.aut.srg.gss.iface.ifacePackage"
            genModel="model/iface.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated tm_tc_format -->
      <package
            uri="http://srg.aut.uah.es/gss/tm_tc_format"
            class="es.uah.aut.srg.gss.tm_tc_format.tm_tc_formatPackage"
            genModel="model/tm_tc_format.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated export -->
      <package
            uri="http://srg.aut.uah.es/gss/export"
            class="es.uah.aut.srg.gss.export.exportPackage"
            genModel="model/export.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated filters -->
      <package
            uri="http://srg.aut.uah.es/gss/filters"
            class="es.uah.aut.srg.gss.filters.filtersPackage"
            genModel="model/filters.genmodel"/>
   </extension>

</plugin>
